extends base 

block content 
    ul
        li 
            img(src=userProfile.avatarUrl)
        li ID : #{userProfile.username} 
        li NAME : #{userProfile.name} 
        li EMAIL : #{userProfile.email} 
    ul 
        each video in userProfile.videos
            li
                a(href=`/videos/${video._id}`)=video.title
    if String(userProfile._id) === user._id && !user.socialOnly
        div 
            a(href="/users/edit") Edit Profile &rarr; 
